[data-theme="dark"] {
  background-color: rgb(0, 0, 0) !important;
  color: #eee;
  transition: 0.5s;
}

[data-theme="dark"] .bg-light {
  background-color: rgb(0, 0, 0) !important;
  transition: 0.5s;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
  transition: 0.5s;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
  transition: 0.5s;
}

[data-theme="dark"] .logo-w {
  transition: 0.5s;
  display: grid !important;
}

[data-theme="dark"] .logo-b {
  display: none !important;
  transition: 0.5s;
}
