
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>pmData</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/dark-mode.css">
  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">
  <style>
    .bmenu {
      width:30px;
      height:30px;
    }
    .footer {
  position: absolute !important;
  bottom: 0!important;
  width: 100% !important;
  }
    .custom-bar {
      height: 650px !important;
    }
    .bg-panel {
      background-color: #11154b !important;
    }
    .dash:hover {
      color: #ffe345 !important;
    }
  </style>
</head>

<body >

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/">
      <h1 class="navbar-brand text-primary">pmData</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="static/img/bmenu.svg" class="bmenu" alt=""></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/login">Account</a>
          </li>
          <li class="nav-item px-5">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="darkSwitch">
              <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
          </li>
        </ul>
      </div>
  </nav>

<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-panel">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white vh-auto custom-bar ">
                <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline text-warning"><strong>Admin panel</strong></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white dash">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-white dash">Overview</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="" class="nav-link px-0"> <span class="d-none d-sm-inline text-white dash">Balance</span></a>
                            </li>
                            <li>
                                <a href="" class="nav-link px-0"> <span class="d-none d-sm-inline text-white dash">Activity</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
          <h1>Howdy {{ user }}</h1>
          {% block content %}
              {% if role == 'Admin' %}
                  <h1>Your role is ADMIN</h1>
              {% endif %}
          {% endblock content %}
        </div>
    </div>
</div>

    
    


    
</body>




   <!-- Footer -->
   <footer class="footer bg-light ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/contact">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/terms_of_service">Terms of Service</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/privacy">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; pmData 2021. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/dark-mode-switch.min.js"></script>

</body>
</html>

