<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Privacy</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/dark-mode.css">
  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">
  <style>
    .bmenu {
      width:30px;
      height:30px;
    }
    .footer {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  
}
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/">
      <a class="navbar-brand"><img src="/static/img/logo1.svg" width="200" alt="logo"></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="static/img/bmenu.svg" class="bmenu" alt=""></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/login">Account</a>
          </li>
          <li class="nav-item px-5">
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="darkSwitch" />
              <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
          </li>
        </ul>
      </div>
  </nav>

  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6 ">
          <h1 class="display-4"><strong>Privacy Policy</strong></h1><br><br>
          <br>
          <p>We don't keep any logs, except the ones from accounts. The only information that is stocked is the user information, but crypted with our own method.</p>
          <br>
          <p>In case of any legal search, we will not share any information, as we don't have any access to the user info, since our crypting methods are live working, we are not able to get any of your data. Our website is running on it VPS, and we have no way to access the database of it.</p>
          <br>
          <p>pmData is not public, your data cannot be shared. The only information that is public is your user profile, but no important information is given.</p>
        </div>
        <div class="col-lg-6 d-lg-block px-5 mx-auto"><img src="static/img/undraw_privacy_protection_nlwy.svg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
    </div>
  </div>

<!-- Spacing from login to footer -->
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>

<!-- Footer -->
<div class=" bg-light py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="/about">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/contact">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/terms_of_service">Terms of Service</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/privacy">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; pmData 2021. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/dark-mode-switch.min.js"></script>

</body>
</html>
