<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TOS</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/dark-mode.css">
  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">
  <style>
    .bmenu {
      width:30px;
      height:30px;
    }

  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="/">
      <h1 class="navbar-brand text-primary">pmData</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="static/img/bmenu.svg" class="bmenu" alt=""></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="/login">Account</a>
          </li>
          <li class="nav-item px-5">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="darkSwitch">
              <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
            </div>
          </li>
        </ul>
      </div>
  </nav>

  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6 ">
          <h1 class="display-4"><strong>Terms Of Service</strong></h1><br><br><BR>
          <h1><strong>1.</strong> Who may use our services</h1>
          <p>Our services may be used by anyone that own a website and want the test it security. In any case, you have to be at least 18 years old to use our services.</p>
          <br ><br >
          <h1><strong>2.</strong> Using our services</h1>
          <p>By using our services you can pen-test your websites security. The application you are testing has to be fully owned by you, in any case, we do not take any responsability of the user usage.</p>
          <br ><br ><h1><strong>3.</strong> Your account</h1>
          <p>You can use the free trial, but you can also create a personal account, where you have two modes (Premium / Trial). The trial mode is free, and prices in premium mode can be found on the <a href="/pricing"><strong>Pricing</strong></a> page.</p>
          <p>Your account also come with full results and sent email's access. You can read more on the <a href="/privacy"><strong>Privacy Page</strong></a>.</p>
          <br><br><h1><strong>4.</strong> Ending these terms</h1>
          <p>You may end your legal agreement with pmData at any time by deactivating your accounts and discontinuing your use of the Services.</p>
          <p>We may suspend or terminate your account or cease providing you with all or part of the Services at any time for any or no reason, including, but not limited to, if we reasonably believe: (i) Testing websites you don't own / (ii) Hacking the website / (iii) Ending terms of service.</p>
        </div>
        <div class="col-lg-6 d-lg-block px-5 mx-auto"><img src="static/img/undraw_Terms_re_6ak4.svg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
    </div>
  </div>




   <!-- Footer -->
   <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/contact">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/terms_of_service">Terms of Service</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/privacy">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; pmData 2021. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/dark-mode-switch.min.js"></script>

</body>
</html>
